[package]
name = "git-disjoint"
version = "0.8.11"
edition = "2021"
authors = ["Eric Crosson <eric.s.crosson@utexas.edu>"]
license = "MIT OR Apache-2.0"
description = "A tool to batch commits by issue into GitHub PRs"
readme = "README.md"
homepage = "https://github.com/ericcrosson/git-disjoint"
keywords = ["cli", "git", "pull-request"]
categories = ["command-line-utilities"]
exclude = [
  "/.envrc",
  "/.github",
  "/.gitignore",
  "/.releaserc.json",
  "/CHANGELOG.md",
  "/flake.{lock,nix}",
  "/package*.json",
  "/rust-toolchain",
  "/assets"
]

[dependencies]
anyhow = "=1.0.68"
clap = { version = "=4.1.1", features = ["cargo", "derive", "wrap_help"] }
git2 = { version = "=0.16.1", default-features = false, features = ["zlib-ng-compat"] }
indexmap = "=1.9.2"
indoc = "=1.0.8"
inquire = "=0.5.3"
lazy_static = "=1.4.0"
regex = "=1.7.1"
sanitize-git-ref = "=1.0.10"
serde = { version = "=1.0.152", features = ["derive"] }
serde_json = "=1.0.91"

[dev-dependencies]
proptest = "=1.0.0"
proptest-derive = "=0.3.0"

[profile.release]
lto = true
codegen-units = 1
strip = true

[build-dependencies]
clap = { version = "=4.1.1", features = ["cargo", "derive", "wrap_help"] }
clap_complete = "=4.1.0"
clap_mangen = "=0.2.7"
