[package]
name = "git-disjoint"
version = "0.10.149"
edition = "2021"
authors = ["Eric Crosson <eric.s.crosson@utexas.edu>"]
license = "MIT OR Apache-2.0"
description = "A tool to batch commits by issue into GitHub PRs"
readme = "README.md"
homepage = "https://github.com/ericcrosson/git-disjoint"
keywords = ["cli", "git", "pull-request"]
categories = ["command-line-utilities"]
exclude = [
  "/.envrc",
  "/.github",
  "/.gitignore",
  "/.releaserc.json",
  "/CHANGELOG.md",
  "/flake.{lock,nix}",
  "/package*.json",
  "/rust-toolchain",
  "/assets"
]

[dependencies]
async_executors = { version = "=0.6.0", features = ["tokio_io", "tokio_timer", "tokio_tp"] }
async_nursery = "=0.5.0"
clap = { version = "=4.4.11", features = ["cargo", "derive", "env", "wrap_help"] }
futures = "=0.3.30"
git-url-parse = "=0.4.4"
git2 = { version = "=0.18.1", default-features = false, features = ["zlib-ng-compat"] }
indexmap = "=2.1.0"
indicatif = "=0.17.7"
inquire = "=0.6.2"
once_cell = "=1.19.0"
open = "=5.0.1"
regex = "=1.10.2"
reqwest = { version = "=0.11.23", default-features = false, features = ["json", "rustls-tls"] }
sanitize-git-ref = "=1.0.12"
serde = { version = "=1.0.193", features = ["derive"] }
serde_json = "=1.0.108"
tokio = { version = "=1.35.1", features = ["full", "macros", "time"] }

[dev-dependencies]
proptest = "=1.4.0"
proptest-derive = "=0.4.0"

[profile.release]
lto = true
codegen-units = 1
strip = true

[build-dependencies]
clap = { version = "=4.4.11", features = ["cargo", "derive", "wrap_help"] }
clap_complete = "=4.4.5"
clap_mangen = "=0.2.15"
