[package]
name = "git-disjoint"
version = "0.10.201"
edition = "2021"
authors = ["Eric Crosson <eric.s.crosson@utexas.edu>"]
license = "MIT OR Apache-2.0"
description = "A tool to batch commits by issue into GitHub PRs"
readme = "README.md"
repository = "https://github.com/ericcrosson/git-disjoint"
keywords = ["cli", "git", "pull-request"]
categories = ["command-line-utilities"]
exclude = [
  "/.envrc",
  "/.github",
  "/.gitignore",
  "/.releaserc.json",
  "/CHANGELOG.md",
  "/flake.{lock,nix}",
  "/package*.json",
  "/rust-toolchain",
  "/assets"
]

[dependencies]
clap = { version = "=4.5.7", features = ["cargo", "derive", "env", "wrap_help"] }
parse-git-url = "=0.5.1"
git2 = { version = "=0.19.0", default-features = false, features = ["zlib-ng-compat"] }
indexmap = "=2.2.6"
indicatif = "=0.17.8"
inquire = "=0.7.5"
once_cell = "=1.19.0"
open = "=5.1.4"
regex = "=1.10.5"
reqwest = { version = "=0.12.5", default-features = false, features = ["blocking", "json", "rustls-tls"] }
sanitize-git-ref = "=1.0.12"
serde = { version = "=1.0.203", features = ["derive"] }
serde_json = "=1.0.117"

[dev-dependencies]
proptest = "=1.4.0"
proptest-derive = "=0.4.0"

[profile.release]
lto = true
codegen-units = 1
strip = true

[build-dependencies]
clap = { version = "=4.5.7", features = ["cargo", "derive", "wrap_help"] }
clap_complete = "=4.5.5"
clap_mangen = "=0.2.21"
