[package]
name = "git-disjoint"
version = "0.0.0-semantically-released"
edition = "2021"
authors = ["Eric Crosson <eric.s.crosson@utexas.edu>"]
license = "MIT OR Apache-2.0"
description = "A tool to batch commits by issue into GitHub PRs"
readme = "README.md"
homepage = "https://github.com/ericcrosson/git-disjoint"
keywords = ["cli", "git", "pull-request"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "=1.0.65"
clap = { version = "=3.2.22", features = ["cargo", "derive"] }
git2 = { version = "=0.15.0", default-features = false, features = ["zlib-ng-compat"] }
inquire = "=0.4.0"
lazy_static = "=1.4.0"
regex = "=1.6.0"
sanitize-git-ref = "=1.0.1"
serde = { version = "=1.0.145", features = ["derive"] }
serde_json = "=1.0.85"

[dev-dependencies]
indoc = "=1.0.7"
proptest = "=1.0.0"
proptest-derive = "=0.3.0"

[profile.release]
lto = true
codegen-units = 1
strip = true
